<%- include('../partials/header'); %>

    <main class="main container">
        <h1>Pizza time</h1>
        <h3>this has nothing to due with pizza</h3>
        <img src="/media/titlecard.jpg">
    </main>

<%- include('../partials/footer'); %>